/****** Object:  Table [dbo].[assembly$]    Script Date: 15.02.2026 18:00:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[assembly$](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[author] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_assembly$] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[basepart$]    Script Date: 15.02.2026 18:00:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[basepart$](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[manufacturerid] [int] NOT NULL,
	[parttypeid] [int] NOT NULL,
	[image] [nvarchar](255) NOT NULL,
	[price] [money] NOT NULL,
 CONSTRAINT [PK_basepart$] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[boardformfactorcase$]    Script Date: 15.02.2026 18:00:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[boardformfactorcase$](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[caseid] [int] NOT NULL,
	[formfactorid] [int] NOT NULL,
 CONSTRAINT [PK_boardformfactorcase$] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[case$]    Script Date: 15.02.2026 18:00:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[case$](
	[id] [int] NOT NULL,
	[sizeid] [int] NOT NULL,
	[expansionslots] [int] NOT NULL,
	[fans] [int] NOT NULL,
 CONSTRAINT [PK_case$] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[casesize$]    Script Date: 15.02.2026 18:00:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[casesize$](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_casesize$] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[certificate$]    Script Date: 15.02.2026 18:00:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[certificate$](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_certificate$] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cpu$]    Script Date: 15.02.2026 18:00:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cpu$](
	[id] [int] NOT NULL,
	[socketid] [int] NOT NULL,
	[numberofcores] [int] NOT NULL,
	[basecorefrequency] [float] NOT NULL,
	[maxcorefrequency] [float] NOT NULL,
	[cachel3] [int] NOT NULL,
	[igpuid] [int] NULL,
	[thermalpower] [int] NOT NULL,
	[hasigpu] [bit] NOT NULL,
 CONSTRAINT [PK_cpu$] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[fandimension$]    Script Date: 15.02.2026 18:00:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[fandimension$](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_fandimension$] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[formfactor$]    Script Date: 15.02.2026 18:00:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[formfactor$](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_formfactor$] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[gpu$]    Script Date: 15.02.2026 18:00:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[gpu$](
	[id] [int] NOT NULL,
	[gpuinterfaceid] [int] NOT NULL,
	[chipfrequency] [int] NOT NULL,
	[videomemory] [int] NOT NULL,
	[memorybus] [int] NOT NULL,
	[recommendpower] [int] NULL,
 CONSTRAINT [PK_gpu$] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[gpuinterface$]    Script Date: 15.02.2026 18:00:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[gpuinterface$](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_gpuinterface$] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[hdd$]    Script Date: 15.02.2026 18:00:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[hdd$](
	[id] [int] NOT NULL,
	[rotationspeed] [int] NOT NULL,
 CONSTRAINT [PK_hdd$] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[igpu$]    Script Date: 15.02.2026 18:00:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[igpu$](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_igpu$] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[manufacturer$]    Script Date: 15.02.2026 18:00:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[manufacturer$](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_manufacturer$] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[memorytype$]    Script Date: 15.02.2026 18:00:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[memorytype$](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_memorytype$] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[motherboard$]    Script Date: 15.02.2026 18:00:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[motherboard$](
	[id] [int] NOT NULL,
	[socketid] [int] NOT NULL,
	[formfactorid] [int] NOT NULL,
	[memoryslots] [int] NOT NULL,
	[memorytypeid] [int] NOT NULL,
	[pcislots] [int] NOT NULL,
	[sataports] [int] NOT NULL,
	[usbports] [int] NOT NULL,
 CONSTRAINT [PK_motherboard$] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[partassembly$]    Script Date: 15.02.2026 18:00:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[partassembly$](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[partid] [int] NOT NULL,
	[assemblyid] [int] NOT NULL,
 CONSTRAINT [PK_partassembly$] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[parttype$]    Script Date: 15.02.2026 18:00:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[parttype$](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_parttype$] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[powersupply$]    Script Date: 15.02.2026 18:00:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[powersupply$](
	[id] [int] NOT NULL,
	[power] [int] NOT NULL,
	[fandimensionid] [int] NOT NULL,
	[certificationid] [int] NOT NULL,
 CONSTRAINT [PK_powersupply$] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[processorcooler$]    Script Date: 15.02.2026 18:00:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[processorcooler$](
	[id] [int] NOT NULL,
	[fandimensionid] [int] NOT NULL,
	[heatpipes] [int] NOT NULL,
	[minspeed] [int] NOT NULL,
	[maxspeed] [int] NOT NULL,
	[noiselevel] [float] NOT NULL,
 CONSTRAINT [PK_processorcooler$] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ram$]    Script Date: 15.02.2026 18:00:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ram$](
	[id] [int] NOT NULL,
	[memorytypeid] [int] NOT NULL,
	[capacity] [int] NOT NULL,
	[count] [int] NOT NULL,
	[ghz] [int] NOT NULL,
	[timings] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_ram$] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[socket$]    Script Date: 15.02.2026 18:00:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[socket$](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_socket$] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[socketprocessorcooler$]    Script Date: 15.02.2026 18:00:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[socketprocessorcooler$](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[socketid] [int] NOT NULL,
	[processorcoolerid] [int] NOT NULL,
 CONSTRAINT [PK_socketprocessorcooler$] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ssd$]    Script Date: 15.02.2026 18:00:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ssd$](
	[id] [int] NOT NULL,
	[tbw] [int] NOT NULL,
 CONSTRAINT [PK_ssd$] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[storagedevice$]    Script Date: 15.02.2026 18:00:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[storagedevice$](
	[id] [int] NOT NULL,
	[capacity] [int] NOT NULL,
	[storagedeviceinterfaceid] [int] NOT NULL,
	[storagedevicetypeid] [int] NOT NULL,
 CONSTRAINT [PK_storagedevice$] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[storagedeviceinterface$]    Script Date: 15.02.2026 18:00:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[storagedeviceinterface$](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_storagedeviceinterface$] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[storagedevicetype$]    Script Date: 15.02.2026 18:00:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[storagedevicetype$](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_storagedevicetype$] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[videoconnector$]    Script Date: 15.02.2026 18:00:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[videoconnector$](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_videoconnector$] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[videoconnectorgpu$]    Script Date: 15.02.2026 18:00:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[videoconnectorgpu$](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[gpuid] [int] NOT NULL,
	[videoconnectorid] [int] NOT NULL,
 CONSTRAINT [PK_videoconnectorgpu$] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[assembly$] ON 

INSERT [dbo].[assembly$] ([id], [name], [author]) VALUES (1, N'Midrange Gaming 1440p (AM5 + RX 7800 XT)', N'TestData')
INSERT [dbo].[assembly$] ([id], [name], [author]) VALUES (2, N'Creator/Gaming 1440p (LGA1700 + RTX 4070 SUPER)', N'TestData')
INSERT [dbo].[assembly$] ([id], [name], [author]) VALUES (3, N'Enthusiast 4K (7800X3D + RTX 4090)', N'TestData')
SET IDENTITY_INSERT [dbo].[assembly$] OFF
GO
SET IDENTITY_INSERT [dbo].[basepart$] ON 

INSERT [dbo].[basepart$] ([id], [name], [manufacturerid], [parttypeid], [image], [price]) VALUES (1, N'Ryzen 7 7800X3D OEM', 1, 1, N'https://c.dns-shop.ru/thumb/st4/fit/500/500/bbd34c68dedfd816f74f2e1c8982ee28/a456db21c4184e22b75ccb0c07c70c520aacaa20efed5a50da6e0c6c3d17c2d7.jpg.webp', 33499.0000)
INSERT [dbo].[basepart$] ([id], [name], [manufacturerid], [parttypeid], [image], [price]) VALUES (2, N'AMD Ryzen 5 7600', 1, 1, N'https://c.dns-shop.ru/thumb/st4/fit/500/500/5ff5de07cbf22d9e81c508a9ecbe623d/262c27f944796aa70ae039f39c7f57d8d42e700260803903ef1aece6c23169d6.jpg.webp', 18999.0000)
INSERT [dbo].[basepart$] ([id], [name], [manufacturerid], [parttypeid], [image], [price]) VALUES (3, N'Intel Core i5-14600K', 2, 1, N'https://c.dns-shop.ru/thumb/st4/fit/500/500/cce73f5615655ebf573e046526dfd31d/f59f23ec04633d90cb2f4647102a398165b86ce0a05c0c7953f5b7e951d6bf9a.jpg.webp', 28999.0000)
SET IDENTITY_INSERT [dbo].[basepart$] OFF
GO
SET IDENTITY_INSERT [dbo].[boardformfactorcase$] ON 

INSERT [dbo].[boardformfactorcase$] ([id], [caseid], [formfactorid]) VALUES (1, 11, 1)
INSERT [dbo].[boardformfactorcase$] ([id], [caseid], [formfactorid]) VALUES (2, 11, 2)
INSERT [dbo].[boardformfactorcase$] ([id], [caseid], [formfactorid]) VALUES (3, 11, 3)
SET IDENTITY_INSERT [dbo].[boardformfactorcase$] OFF
GO
INSERT [dbo].[case$] ([id], [sizeid], [expansionslots], [fans]) VALUES (11, 2, 7, 2)
INSERT [dbo].[case$] ([id], [sizeid], [expansionslots], [fans]) VALUES (12, 1, 8, 3)
INSERT [dbo].[case$] ([id], [sizeid], [expansionslots], [fans]) VALUES (20, 3, 4, 3)
GO
SET IDENTITY_INSERT [dbo].[casesize$] ON 

INSERT [dbo].[casesize$] ([id], [name]) VALUES (1, N'Full Tower')
INSERT [dbo].[casesize$] ([id], [name]) VALUES (2, N'Mid Tower')
INSERT [dbo].[casesize$] ([id], [name]) VALUES (3, N'Mini Tower')
SET IDENTITY_INSERT [dbo].[casesize$] OFF
GO
SET IDENTITY_INSERT [dbo].[certificate$] ON 

INSERT [dbo].[certificate$] ([id], [name]) VALUES (1, N'80 PLUS Bronze')
INSERT [dbo].[certificate$] ([id], [name]) VALUES (2, N'80 PLUS Gold')
INSERT [dbo].[certificate$] ([id], [name]) VALUES (3, N'80 PLUS Platinum')
SET IDENTITY_INSERT [dbo].[certificate$] OFF
GO
INSERT [dbo].[cpu$] ([id], [socketid], [numberofcores], [basecorefrequency], [maxcorefrequency], [cachel3], [igpuid], [thermalpower], [hasigpu]) VALUES (1, 1, 8, 4.2, 5, 96, 1, 120, 1)
INSERT [dbo].[cpu$] ([id], [socketid], [numberofcores], [basecorefrequency], [maxcorefrequency], [cachel3], [igpuid], [thermalpower], [hasigpu]) VALUES (2, 1, 6, 3.8, 5.1, 32, 1, 65, 1)
INSERT [dbo].[cpu$] ([id], [socketid], [numberofcores], [basecorefrequency], [maxcorefrequency], [cachel3], [igpuid], [thermalpower], [hasigpu]) VALUES (3, 3, 14, 3.5, 5.3, 24, 2, 125, 1)
GO
SET IDENTITY_INSERT [dbo].[fandimension$] ON 

INSERT [dbo].[fandimension$] ([id], [name]) VALUES (1, N'120 mm')
INSERT [dbo].[fandimension$] ([id], [name]) VALUES (2, N'135 mm')
INSERT [dbo].[fandimension$] ([id], [name]) VALUES (3, N'140 mm')
SET IDENTITY_INSERT [dbo].[fandimension$] OFF
GO
SET IDENTITY_INSERT [dbo].[formfactor$] ON 

INSERT [dbo].[formfactor$] ([id], [name]) VALUES (1, N'ATX')
INSERT [dbo].[formfactor$] ([id], [name]) VALUES (2, N'Micro-ATX')
INSERT [dbo].[formfactor$] ([id], [name]) VALUES (3, N'Mini-ITX')
SET IDENTITY_INSERT [dbo].[formfactor$] OFF
GO
INSERT [dbo].[gpu$] ([id], [gpuinterfaceid], [chipfrequency], [videomemory], [memorybus], [recommendpower]) VALUES (4, 1, 2475, 12, 192, 750)
INSERT [dbo].[gpu$] ([id], [gpuinterfaceid], [chipfrequency], [videomemory], [memorybus], [recommendpower]) VALUES (5, 1, 2124, 16, 256, 750)
INSERT [dbo].[gpu$] ([id], [gpuinterfaceid], [chipfrequency], [videomemory], [memorybus], [recommendpower]) VALUES (6, 1, 2235, 24, 384, 850)
GO
SET IDENTITY_INSERT [dbo].[gpuinterface$] ON 

INSERT [dbo].[gpuinterface$] ([id], [name]) VALUES (1, N'PCIe 4.0 x16')
INSERT [dbo].[gpuinterface$] ([id], [name]) VALUES (2, N'PCIe 5.0 x16')
SET IDENTITY_INSERT [dbo].[gpuinterface$] OFF
GO
INSERT [dbo].[hdd$] ([id], [rotationspeed]) VALUES (19, 5400)
GO
SET IDENTITY_INSERT [dbo].[igpu$] ON 

INSERT [dbo].[igpu$] ([id], [name]) VALUES (1, N'Radeon Graphics')
INSERT [dbo].[igpu$] ([id], [name]) VALUES (2, N'Intel UHD Graphics 770')
SET IDENTITY_INSERT [dbo].[igpu$] OFF
GO
SET IDENTITY_INSERT [dbo].[manufacturer$] ON 

INSERT [dbo].[manufacturer$] ([id], [name]) VALUES (1, N'AMD')
INSERT [dbo].[manufacturer$] ([id], [name]) VALUES (2, N'Intel')
INSERT [dbo].[manufacturer$] ([id], [name]) VALUES (3, N'NVIDIA')
SET IDENTITY_INSERT [dbo].[manufacturer$] OFF
GO
SET IDENTITY_INSERT [dbo].[memorytype$] ON 

INSERT [dbo].[memorytype$] ([id], [name]) VALUES (1, N'DDR5')
INSERT [dbo].[memorytype$] ([id], [name]) VALUES (2, N'DDR4')
SET IDENTITY_INSERT [dbo].[memorytype$] OFF
GO
INSERT [dbo].[motherboard$] ([id], [socketid], [formfactorid], [memoryslots], [memorytypeid], [pcislots], [sataports], [usbports]) VALUES (9, 1, 1, 4, 1, 3, 4, 8)
INSERT [dbo].[motherboard$] ([id], [socketid], [formfactorid], [memoryslots], [memorytypeid], [pcislots], [sataports], [usbports]) VALUES (10, 3, 2, 4, 1, 2, 4, 8)
GO
SET IDENTITY_INSERT [dbo].[partassembly$] ON 

INSERT [dbo].[partassembly$] ([id], [partid], [assemblyid]) VALUES (1, 2, 1)
INSERT [dbo].[partassembly$] ([id], [partid], [assemblyid]) VALUES (2, 5, 1)
INSERT [dbo].[partassembly$] ([id], [partid], [assemblyid]) VALUES (3, 9, 1)
SET IDENTITY_INSERT [dbo].[partassembly$] OFF
GO
SET IDENTITY_INSERT [dbo].[parttype$] ON 

INSERT [dbo].[parttype$] ([id], [name]) VALUES (1, N'CPU')
INSERT [dbo].[parttype$] ([id], [name]) VALUES (2, N'GPU')
INSERT [dbo].[parttype$] ([id], [name]) VALUES (3, N'RAM')
SET IDENTITY_INSERT [dbo].[parttype$] OFF
GO
INSERT [dbo].[powersupply$] ([id], [power], [fandimensionid], [certificationid]) VALUES (13, 750, 2, 2)
INSERT [dbo].[powersupply$] ([id], [power], [fandimensionid], [certificationid]) VALUES (14, 1000, 2, 2)
GO
INSERT [dbo].[processorcooler$] ([id], [fandimensionid], [heatpipes], [minspeed], [maxspeed], [noiselevel]) VALUES (15, 3, 6, 300, 1500, 24.6)
INSERT [dbo].[processorcooler$] ([id], [fandimensionid], [heatpipes], [minspeed], [maxspeed], [noiselevel]) VALUES (16, 1, 4, 500, 1850, 29)
GO
INSERT [dbo].[ram$] ([id], [memorytypeid], [capacity], [count], [ghz], [timings]) VALUES (7, 1, 32, 2, 6000, N'30-36-36-76')
INSERT [dbo].[ram$] ([id], [memorytypeid], [capacity], [count], [ghz], [timings]) VALUES (8, 2, 16, 2, 3200, N'16-18-18-36')
GO
SET IDENTITY_INSERT [dbo].[socket$] ON 

INSERT [dbo].[socket$] ([id], [name]) VALUES (1, N'AM5')
INSERT [dbo].[socket$] ([id], [name]) VALUES (2, N'AM4')
INSERT [dbo].[socket$] ([id], [name]) VALUES (3, N'LGA1700')
SET IDENTITY_INSERT [dbo].[socket$] OFF
GO
SET IDENTITY_INSERT [dbo].[socketprocessorcooler$] ON 

INSERT [dbo].[socketprocessorcooler$] ([id], [socketid], [processorcoolerid]) VALUES (1, 1, 15)
INSERT [dbo].[socketprocessorcooler$] ([id], [socketid], [processorcoolerid]) VALUES (2, 3, 15)
INSERT [dbo].[socketprocessorcooler$] ([id], [socketid], [processorcoolerid]) VALUES (3, 1, 16)
SET IDENTITY_INSERT [dbo].[socketprocessorcooler$] OFF
GO
INSERT [dbo].[ssd$] ([id], [tbw]) VALUES (17, 600)
INSERT [dbo].[ssd$] ([id], [tbw]) VALUES (18, 1200)
GO
INSERT [dbo].[storagedevice$] ([id], [capacity], [storagedeviceinterfaceid], [storagedevicetypeid]) VALUES (17, 1000, 2, 1)
INSERT [dbo].[storagedevice$] ([id], [capacity], [storagedeviceinterfaceid], [storagedevicetypeid]) VALUES (18, 2000, 2, 1)
INSERT [dbo].[storagedevice$] ([id], [capacity], [storagedeviceinterfaceid], [storagedevicetypeid]) VALUES (19, 4000, 1, 2)
GO
SET IDENTITY_INSERT [dbo].[storagedeviceinterface$] ON 

INSERT [dbo].[storagedeviceinterface$] ([id], [name]) VALUES (1, N'SATA III')
INSERT [dbo].[storagedeviceinterface$] ([id], [name]) VALUES (2, N'NVMe PCIe 4.0')
INSERT [dbo].[storagedeviceinterface$] ([id], [name]) VALUES (3, N'NVMe PCIe 5.0')
SET IDENTITY_INSERT [dbo].[storagedeviceinterface$] OFF
GO
SET IDENTITY_INSERT [dbo].[storagedevicetype$] ON 

INSERT [dbo].[storagedevicetype$] ([id], [name]) VALUES (1, N'SSD')
INSERT [dbo].[storagedevicetype$] ([id], [name]) VALUES (2, N'HDD')
SET IDENTITY_INSERT [dbo].[storagedevicetype$] OFF
GO
SET IDENTITY_INSERT [dbo].[videoconnector$] ON 

INSERT [dbo].[videoconnector$] ([id], [name]) VALUES (1, N'HDMI 2.1')
INSERT [dbo].[videoconnector$] ([id], [name]) VALUES (2, N'DisplayPort 1.4a')
INSERT [dbo].[videoconnector$] ([id], [name]) VALUES (3, N'DisplayPort 2.1')
SET IDENTITY_INSERT [dbo].[videoconnector$] OFF
GO
SET IDENTITY_INSERT [dbo].[videoconnectorgpu$] ON 

INSERT [dbo].[videoconnectorgpu$] ([id], [gpuid], [videoconnectorid]) VALUES (1, 4, 1)
INSERT [dbo].[videoconnectorgpu$] ([id], [gpuid], [videoconnectorid]) VALUES (2, 4, 2)
INSERT [dbo].[videoconnectorgpu$] ([id], [gpuid], [videoconnectorid]) VALUES (3, 5, 1)
SET IDENTITY_INSERT [dbo].[videoconnectorgpu$] OFF
GO
ALTER TABLE [dbo].[basepart$]  WITH CHECK ADD  CONSTRAINT [FK_basepart$_manufacturer$] FOREIGN KEY([manufacturerid])
REFERENCES [dbo].[manufacturer$] ([id])
GO
ALTER TABLE [dbo].[basepart$] CHECK CONSTRAINT [FK_basepart$_manufacturer$]
GO
ALTER TABLE [dbo].[basepart$]  WITH CHECK ADD  CONSTRAINT [FK_basepart$_parttype$] FOREIGN KEY([parttypeid])
REFERENCES [dbo].[parttype$] ([id])
GO
ALTER TABLE [dbo].[basepart$] CHECK CONSTRAINT [FK_basepart$_parttype$]
GO
ALTER TABLE [dbo].[boardformfactorcase$]  WITH CHECK ADD  CONSTRAINT [FK_boardformfactorcase$_case$] FOREIGN KEY([caseid])
REFERENCES [dbo].[case$] ([id])
GO
ALTER TABLE [dbo].[boardformfactorcase$] CHECK CONSTRAINT [FK_boardformfactorcase$_case$]
GO
ALTER TABLE [dbo].[boardformfactorcase$]  WITH CHECK ADD  CONSTRAINT [FK_boardformfactorcase$_formfactor$] FOREIGN KEY([formfactorid])
REFERENCES [dbo].[formfactor$] ([id])
GO
ALTER TABLE [dbo].[boardformfactorcase$] CHECK CONSTRAINT [FK_boardformfactorcase$_formfactor$]
GO
ALTER TABLE [dbo].[case$]  WITH CHECK ADD  CONSTRAINT [FK_case$_basepart$] FOREIGN KEY([id])
REFERENCES [dbo].[basepart$] ([id])
GO
ALTER TABLE [dbo].[case$] CHECK CONSTRAINT [FK_case$_basepart$]
GO
ALTER TABLE [dbo].[case$]  WITH CHECK ADD  CONSTRAINT [FK_case$_casesize$] FOREIGN KEY([sizeid])
REFERENCES [dbo].[casesize$] ([id])
GO
ALTER TABLE [dbo].[case$] CHECK CONSTRAINT [FK_case$_casesize$]
GO
ALTER TABLE [dbo].[cpu$]  WITH CHECK ADD  CONSTRAINT [FK_cpu$_basepart$] FOREIGN KEY([id])
REFERENCES [dbo].[basepart$] ([id])
GO
ALTER TABLE [dbo].[cpu$] CHECK CONSTRAINT [FK_cpu$_basepart$]
GO
ALTER TABLE [dbo].[cpu$]  WITH CHECK ADD  CONSTRAINT [FK_cpu$_igpu$] FOREIGN KEY([igpuid])
REFERENCES [dbo].[igpu$] ([id])
GO
ALTER TABLE [dbo].[cpu$] CHECK CONSTRAINT [FK_cpu$_igpu$]
GO
ALTER TABLE [dbo].[cpu$]  WITH CHECK ADD  CONSTRAINT [FK_cpu$_socket$1] FOREIGN KEY([socketid])
REFERENCES [dbo].[socket$] ([id])
GO
ALTER TABLE [dbo].[cpu$] CHECK CONSTRAINT [FK_cpu$_socket$1]
GO
ALTER TABLE [dbo].[gpu$]  WITH CHECK ADD  CONSTRAINT [FK_gpu$_basepart$] FOREIGN KEY([id])
REFERENCES [dbo].[basepart$] ([id])
GO
ALTER TABLE [dbo].[gpu$] CHECK CONSTRAINT [FK_gpu$_basepart$]
GO
ALTER TABLE [dbo].[gpu$]  WITH CHECK ADD  CONSTRAINT [FK_gpu$_gpuinterface$] FOREIGN KEY([gpuinterfaceid])
REFERENCES [dbo].[gpuinterface$] ([id])
GO
ALTER TABLE [dbo].[gpu$] CHECK CONSTRAINT [FK_gpu$_gpuinterface$]
GO
ALTER TABLE [dbo].[hdd$]  WITH CHECK ADD  CONSTRAINT [FK_hdd$_storagedevice$] FOREIGN KEY([id])
REFERENCES [dbo].[storagedevice$] ([id])
GO
ALTER TABLE [dbo].[hdd$] CHECK CONSTRAINT [FK_hdd$_storagedevice$]
GO
ALTER TABLE [dbo].[motherboard$]  WITH CHECK ADD  CONSTRAINT [FK_motherboard$_basepart$] FOREIGN KEY([id])
REFERENCES [dbo].[basepart$] ([id])
GO
ALTER TABLE [dbo].[motherboard$] CHECK CONSTRAINT [FK_motherboard$_basepart$]
GO
ALTER TABLE [dbo].[motherboard$]  WITH CHECK ADD  CONSTRAINT [FK_motherboard$_formfactor$] FOREIGN KEY([formfactorid])
REFERENCES [dbo].[formfactor$] ([id])
GO
ALTER TABLE [dbo].[motherboard$] CHECK CONSTRAINT [FK_motherboard$_formfactor$]
GO
ALTER TABLE [dbo].[motherboard$]  WITH CHECK ADD  CONSTRAINT [FK_motherboard$_memorytype$] FOREIGN KEY([memorytypeid])
REFERENCES [dbo].[memorytype$] ([id])
GO
ALTER TABLE [dbo].[motherboard$] CHECK CONSTRAINT [FK_motherboard$_memorytype$]
GO
ALTER TABLE [dbo].[motherboard$]  WITH CHECK ADD  CONSTRAINT [FK_motherboard$_socket$] FOREIGN KEY([socketid])
REFERENCES [dbo].[socket$] ([id])
GO
ALTER TABLE [dbo].[motherboard$] CHECK CONSTRAINT [FK_motherboard$_socket$]
GO
ALTER TABLE [dbo].[partassembly$]  WITH CHECK ADD  CONSTRAINT [FK_partassembly$_assembly$] FOREIGN KEY([assemblyid])
REFERENCES [dbo].[assembly$] ([id])
GO
ALTER TABLE [dbo].[partassembly$] CHECK CONSTRAINT [FK_partassembly$_assembly$]
GO
ALTER TABLE [dbo].[partassembly$]  WITH CHECK ADD  CONSTRAINT [FK_partassembly$_basepart$] FOREIGN KEY([partid])
REFERENCES [dbo].[basepart$] ([id])
GO
ALTER TABLE [dbo].[partassembly$] CHECK CONSTRAINT [FK_partassembly$_basepart$]
GO
ALTER TABLE [dbo].[powersupply$]  WITH CHECK ADD  CONSTRAINT [FK_powersupply$_basepart$] FOREIGN KEY([id])
REFERENCES [dbo].[basepart$] ([id])
GO
ALTER TABLE [dbo].[powersupply$] CHECK CONSTRAINT [FK_powersupply$_basepart$]
GO
ALTER TABLE [dbo].[powersupply$]  WITH CHECK ADD  CONSTRAINT [FK_powersupply$_certificate$] FOREIGN KEY([certificationid])
REFERENCES [dbo].[certificate$] ([id])
GO
ALTER TABLE [dbo].[powersupply$] CHECK CONSTRAINT [FK_powersupply$_certificate$]
GO
ALTER TABLE [dbo].[powersupply$]  WITH CHECK ADD  CONSTRAINT [FK_powersupply$_fandimension$] FOREIGN KEY([fandimensionid])
REFERENCES [dbo].[fandimension$] ([id])
GO
ALTER TABLE [dbo].[powersupply$] CHECK CONSTRAINT [FK_powersupply$_fandimension$]
GO
ALTER TABLE [dbo].[processorcooler$]  WITH CHECK ADD  CONSTRAINT [FK_processorcooler$_basepart$] FOREIGN KEY([id])
REFERENCES [dbo].[basepart$] ([id])
GO
ALTER TABLE [dbo].[processorcooler$] CHECK CONSTRAINT [FK_processorcooler$_basepart$]
GO
ALTER TABLE [dbo].[processorcooler$]  WITH CHECK ADD  CONSTRAINT [FK_processorcooler$_fandimension$] FOREIGN KEY([fandimensionid])
REFERENCES [dbo].[fandimension$] ([id])
GO
ALTER TABLE [dbo].[processorcooler$] CHECK CONSTRAINT [FK_processorcooler$_fandimension$]
GO
ALTER TABLE [dbo].[ram$]  WITH CHECK ADD  CONSTRAINT [FK_ram$_basepart$] FOREIGN KEY([id])
REFERENCES [dbo].[basepart$] ([id])
GO
ALTER TABLE [dbo].[ram$] CHECK CONSTRAINT [FK_ram$_basepart$]
GO
ALTER TABLE [dbo].[ram$]  WITH CHECK ADD  CONSTRAINT [FK_ram$_memorytype$] FOREIGN KEY([memorytypeid])
REFERENCES [dbo].[memorytype$] ([id])
GO
ALTER TABLE [dbo].[ram$] CHECK CONSTRAINT [FK_ram$_memorytype$]
GO
ALTER TABLE [dbo].[socketprocessorcooler$]  WITH CHECK ADD  CONSTRAINT [FK_socketprocessorcooler$_processorcooler$] FOREIGN KEY([processorcoolerid])
REFERENCES [dbo].[processorcooler$] ([id])
GO
ALTER TABLE [dbo].[socketprocessorcooler$] CHECK CONSTRAINT [FK_socketprocessorcooler$_processorcooler$]
GO
ALTER TABLE [dbo].[socketprocessorcooler$]  WITH CHECK ADD  CONSTRAINT [FK_socketprocessorcooler$_socket$] FOREIGN KEY([socketid])
REFERENCES [dbo].[socket$] ([id])
GO
ALTER TABLE [dbo].[socketprocessorcooler$] CHECK CONSTRAINT [FK_socketprocessorcooler$_socket$]
GO
ALTER TABLE [dbo].[ssd$]  WITH CHECK ADD  CONSTRAINT [FK_ssd$_storagedevice$] FOREIGN KEY([id])
REFERENCES [dbo].[storagedevice$] ([id])
GO
ALTER TABLE [dbo].[ssd$] CHECK CONSTRAINT [FK_ssd$_storagedevice$]
GO
ALTER TABLE [dbo].[storagedevice$]  WITH CHECK ADD  CONSTRAINT [FK_storagedevice$_basepart$] FOREIGN KEY([id])
REFERENCES [dbo].[basepart$] ([id])
GO
ALTER TABLE [dbo].[storagedevice$] CHECK CONSTRAINT [FK_storagedevice$_basepart$]
GO
ALTER TABLE [dbo].[storagedevice$]  WITH CHECK ADD  CONSTRAINT [FK_storagedevice$_storagedeviceinterface$] FOREIGN KEY([storagedeviceinterfaceid])
REFERENCES [dbo].[storagedeviceinterface$] ([id])
GO
ALTER TABLE [dbo].[storagedevice$] CHECK CONSTRAINT [FK_storagedevice$_storagedeviceinterface$]
GO
ALTER TABLE [dbo].[storagedevice$]  WITH CHECK ADD  CONSTRAINT [FK_storagedevice$_storagedevicetype$] FOREIGN KEY([storagedevicetypeid])
REFERENCES [dbo].[storagedevicetype$] ([id])
GO
ALTER TABLE [dbo].[storagedevice$] CHECK CONSTRAINT [FK_storagedevice$_storagedevicetype$]
GO
ALTER TABLE [dbo].[videoconnectorgpu$]  WITH CHECK ADD  CONSTRAINT [FK_videoconnectorgpu$_gpu$] FOREIGN KEY([gpuid])
REFERENCES [dbo].[gpu$] ([id])
GO
ALTER TABLE [dbo].[videoconnectorgpu$] CHECK CONSTRAINT [FK_videoconnectorgpu$_gpu$]
GO
ALTER TABLE [dbo].[videoconnectorgpu$]  WITH CHECK ADD  CONSTRAINT [FK_videoconnectorgpu$_videoconnector$] FOREIGN KEY([videoconnectorid])
REFERENCES [dbo].[videoconnector$] ([id])
GO
ALTER TABLE [dbo].[videoconnectorgpu$] CHECK CONSTRAINT [FK_videoconnectorgpu$_videoconnector$]